.App {
  text-align: center;
  overflow: hidden;
  
}
.map-container {
  height: 100vh;
}

/* .marker {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBKm1TluUItL3z322PG6fQO5iQr96hWYXfVw&usqp=CAU);
  background-size: cover;
  width: 52px;
  height: 52px;
  background-color: yellow;
  border-radius: 11px;
  border: solid 3px rgb(65, 15, 15);
} */

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
} 


  
